node_modules/
settings.json

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

venv/
env/
.venv/

uild/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

*.pyc
*.pyd
*.pyo
*.pdb
*.pkl

htmlcov/
.coverage
.coverage.*
.cache/
pytest_cache/
nosetests.xml
coverage.xml

logs/
*.log

.env
*.env
.env.*
!env.example
.ipynb_checkpoints

.DS_Store
Thumbs.db
.vscode/
.idea/

ocr_output/
tmp/
temp/
